@media only screen and (min-width: 640px) {
  .categories {
    margin-top: 10px;
    width: 90%;
    height: 400px;
    border: 0.7px solid #979797;
    padding: 16px;
    border-radius: 12px;
    margin-left: 20px;
    overflow-y: auto;
  }
}
@media only screen and (max-width: 640px) {
  .categories {
    margin-top: 10px;
    width: 90%;
    /* height: 40%; */
    /* max-height: 250px; */
    border: 1px solid #979797;
    padding: 10px;
    border-radius: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .categories {
    margin-top: 10px;
    width: 90%;
    /* height: 40%; */
    max-width: 290px;
    max-height: 250px;
    border: 1px solid #979797;
    padding: 10px 6px 10px 6px;
    border-radius: 12px;
    justify-content: center;
  }
}

/* .categories {
  margin-top: 10px;
  width: 100%;
  border: 0.7px solid #979797;
  padding: 16px;
  border-radius: 12px;
  margin-left: 20px;
} */
.heading {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  padding: 6px 0px 14px 0px;
}
.heading>img{
  height: 2rem;
}
.category-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  align-items: center;
}
.category-name {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #939393;
}
.category-name > img {
  height: 2.5rem;
}
