@media only screen and (min-width: 1099px) {
  .home_body {
    width: 100%;
    display: flex;
    gap: 30px;
  }
}
@media only screen and (max-width: 399px) {
  .home_body {
    justify-content: center;
    margin-left: 5px;
    /* align-items: center; */
  }
}

.home_body {
  justify-content: center;
}
