.expense-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 22px;
  padding: 6px 0;
}

.expense-utils img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.expense-body {
  overflow-x: auto; /* Allow horizontal scrolling for small screens */
}

.transaction {
  width: 100%;
  border-collapse: collapse;
}

.transaction th {
  font-size: 14px;
  color: #939393;
  font-weight: 500;
}

.transaction th,
.transaction td {
  padding: 10px;
  /* border: 1px solid #ccc; */
  text-align: left;
}