*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "inder";
}
@media only screen and (min-width: 640px){
.container{
  top: 0%;
  left: 0%;
  display: flex;
}
}
@media only screen and (max-width: 640px)
{
  .container{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff;
  }
}

/* The commented are old styles of sidebar ! dont delete */
/* .container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 25;
} */
/* .Overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #939393;
  opacity: 0.3;
} */
.Top_logo>img{
  width: 25px;
  height: 25px;
}
.sidebar{
 position: relative;
  height: 100vh;
  width: 280px;
  transition: all 0.5s;
}
/* .sidebar{
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 70%;
  max-width: 26rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  transition: all 0.5s;
} */
.bars{
  position: absolute;
  /* right: 5%; */
}
.bars:hover{
  cursor: pointer;
}
.top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px 20px 4px;
  color: black;
}

.top_section>.Top_Logo>img{
  width: 160px;
}
.top_section>.Top_Logo{
  transition: all 0.3s;
    transform-origin: left;
  transition-duration: 0.3s;
}
.main_menu{
  /* background-color: #87cfeb75; */
  font-size: 16px;
  text-align: center;
  margin: 45px 0px;

}

.link{
  display: flex;
  gap: 12px;
  padding: 6px 12px;
  text-decoration: none;
  margin:0px 0px 6px 0px;
  color: #000;
  width: 80%;
  border-radius: 6px;
  transition: all 0.5s;
  
}
.link:hover{
  background-color: #87cfeb75;
  transition: all 0.5s;
}
.main_menu>p{
  color: #939393;
  font-size: 14px;
  margin: 0px 0px 16px 0px;

}
.bucket_category>p{
  color: #939393;
  font-size: 14px;
  margin: 0px 0px 16px 0px;

}
.bucket_category{
  font-size: 16px;
  text-align: center;
  margin: 45px 0px;
}
.main_menu>svg{
  height: 32px;
  width: 28px;
}
.active{
  background-color: #87cfeb75;
}
.link_text{ 
  transition: all 0.3s;
  transform-origin: left;
  transition-duration: 0.3s;
  
}