*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "inder";
}
.container{
  display: flex;
}
.Top_logo>img{
  width: 25px;
  height: 25px;
}
.sidebar{
 position: relative;
  height: 100vh;
  width: 280px;
  transition: all 0.5s;
}
.bars{
  position: absolute;
  /* right: 5%; */
}
.bars:hover{
  cursor: pointer;
}
.top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px 20px 4px;
  color: black;
}

.top_section>.Top_Logo>img{
  width: 160px;
}
.top_section>.Top_Logo{
  transition: all 0.3s;
    transform-origin: left;
  transition-duration: 0.3s;
}
.main_menu{
  /* background-color: #87cfeb75; */
  font-size: 16px;
  text-align: center;
  margin: 45px 0px;

}

.link{
  display: flex;
  gap: 12px;
  padding: 6px 12px;
  text-decoration: none;
  margin:0px 0px 6px 0px;
  color: #000;
  width: 80%;
  border-radius: 6px;
  transition: all 0.5s;
  
}
.link:hover{
  background-color: #87cfeb75;
  transition: all 0.5s;
}
.main_menu>p{
  color: #939393;
  font-size: 14px;
  margin: 0px 0px 16px 0px;

}
.bucket_category>p{
  color: #939393;
  font-size: 14px;
  margin: 0px 0px 16px 0px;

}
.bucket_category{
  font-size: 16px;
  text-align: center;
  margin: 45px 0px;
}
.main_menu>svg{
  height: 32px;
  width: 28px;
}
.active{
  background-color: #87cfeb75;
}
.link_text{ 
  transition: all 0.3s;
  transform-origin: left;
  transition-duration: 0.3s;
  
}